.header {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: #385461;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: white;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: black;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}
